# Environment files
.env
.env.local
.env.*.local

# Frontend
frontend/node_modules/
frontend/.next/

# Backend
backend/family-tree-api

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Original Data
frontend/public/images/original/
frontend/public/images/processed/
real_data

node_modules/
